---
import ImageCard from "./ImageCard.astro";
const offers = [
    {
        imageURL:"dumbbells.jpg",
        offerText:"Tour Our Gym"
    },
    {
        imageURL:"rowing.jpg",
        offerText:"Check out our Group Classes"
    },
    {
        imageURL:"skipping.jpg",
        offerText:"Ask about Personal Training"
    }
]
---


<section class="py-12 text-center">
<h1 class="yellowText text-5xl italic uppercase">What we offer</h1>
<p class="text-white">We're committed to bringing you the best workout experience</p>
<div class="grid grid-cols-1 md:grid-cols-3">
{
    offers.map((offer)=>(
        <ImageCard imageURL={offer.imageURL} text={offer.offerText} />
    ))
}

</div>
</section>